@charset "UTF-8";

/* ---------------------------------------
共通クラス
------------------------------------------- */
body {
    background-color: rgb(248, 248, 229);
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3 {
  font-weight: 700; /* Bold 見出し用 */
}

/*---------------------------------------------
 header 
 ---------------------------------------------*/
 header {
    position: fixed;
    width: 100%;
    line-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    background-color: #05A277;
}

header img {
   padding-top: 20px;
}

 .toggle-btn {
    width: 50px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
 }

 .toggle-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all 0.5s;
    position: absolute;
 }

 .toggle-btn span:nth-child(1) {
    top: 33%;
 }

 .toggle-btn span:nth-child(2) {
    top: 66%;
 }

 .open .toggle-btn span {
    background-color: white;
 }

 .open .toggle-btn span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
 }

 .open .toggle-btn span:nth-child(2) {
    top: 50%;
    transform: rotate(45deg);    
 }

 nav {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 30%;
    height: 50%;
    transition: all 0.5s ease;
    padding: 40px;
    box-sizing: border-box;
    z-index: 20;
 }
 nav li {
   margin-top: 32px;
    line-height: 80px;
    font-size: 42px;
 }

 nav li:hover {
   opacity: 0.7;
 }

 nav a {
    color: white;
 }

 .open nav {
    left: 70%;
    opacity: 1;
 }

 .mask {
    display: none;
 }

 .open .mask {
    display: block;
    background-color: #FBEB2C;
    position: fixed;
    top: 0;
    bottom: 10%;
    right: 0;
    left: 70%;
    z-index: 10;
 }

 /*---------------------------------------------
  main
  --------------------------------------------- */
  .mainvisual {
    margin: 160px 0;
    height: 700px;
    border-radius: 30px;
  }

/*---------------------------------------------
 about
 ---------------------------------------------*/
 
.about-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.about-lead {
    width: 65%;
    font-size: 2.5rem;
    line-height: 90px;
}

.about-image {
    width: 45%;
}

.about-image img {
    border-radius: 100%;
}

.about-text {
    text-align: center;
    margin-bottom: 50px;
}


/*---------------------------------------------
 event
 ---------------------------------------------*/
.event {
    margin-bottom: 100px;
}

.into-event {
    text-decoration:  none;
    color: #8b4513;
    background-color: #d2b48c;
    width: 600px;
    display: block;
    text-align:  center;
    padding: 15px;
    border-radius:  5px;
    font-size: 42px;
    box-shadow: 0 2px 10px 0 #9E9E9E;
    margin-inline:auto;
    margin-bottom: 100px;
} 

.event-image img {
    width: 100px;
    height: 100px;
}

.slider {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(135deg, #fceabb, #556b2f);
  
}

.track {
  display: flex;
  width: calc((100px + 16px) * 21); /* 画像21枚分 */
  animation: scroll 10s linear infinite;
}

.track img {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 16px; /* 1rem */
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * ((100px + 16px) * 7))); } /* 7枚分だけ左に動かす */
}

/*---------------------------------------------
 event-detail
 ---------------------------------------------*/
 .event-detail-title {
    font-size: 64px;
    padding-top: 160px;
    text-align: center;
 }

 .event-detail-image {
    width: 500px;
    height: 200px;
    margin-inline: auto;
 }

 .event-detail-image img {
    border-radius: 80%;
 }



/*---------------------------------------------
 user-comment
 ---------------------------------------------*/
.user-comment {
    margin-bottom: 200px;
}

.user-comment-title {
    font-size: 64px;
    text-align: center;
    margin-bottom: 100px;
}

.user-comment-flex-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-comment-image-left {
    width: 200px;
    height: 200px;
    margin-right: 100px;
}

.user-comment-flex-k {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.user-comment-image-right {
    width: 200px;
    height: 200px;
    margin-left: 100px;
}

.user-comment-text p {
    width: 100%;
}

.user-comment-readmore {
    width: 100%;
    height: 150px;
    text-align: right;
}

.readmore-image {
    position: relative;
    width: 100px;
    height: 120px;
    display: inline-block;
    margin-right: 400px;
}


.readmore-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.readmore-text {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    pointer-events: none; /* 画像部分のクリックを有効にするならあるとよい */
}

/*---------------------------------------------
 faq
 ---------------------------------------------*/
.faq {
    max-width: 1000px;
    margin: 80px auto;
    padding: 20px;
}

.faq-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 42px;
    /* color: #4b6f44; */
    /* display: inline-block; */
    padding-bottom: 8px;
}

.faq-item {
    margin-bottom: 20px;
    border: 3px solid #dbe8ce;
    border-radius: 10px;
    background-color: #f9fbf6;
}

.faq-question {
    position: relative;
    padding: 16px 100px;
    font-size: 24px;
    font-weight: bold;
    color: #4b6f44;
    background-color: #eef5e9;
    cursor: pointer;  /*カーソル合わせたら指差しになる*/
}

.faq-question:hover {
    background-color: #e4f0dc;
    /*[1]と[2]の間がhoverしないかも*/
}

/*------[+]の部分------*/

.faq-question .btn {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);  /*[＋]を行の真ん中に*/
}

.faq-question .btn:before,
.faq-question .btn:after {
    content: "";
    position: absolute;
    background-color: #4b6f44;
    border-radius: 1px;
    transition: 0.3s;
}

.faq-question .btn:before {
    width: 16px;
    height: 2px;
    top: 7px;
    left: 0;
}

.faq-question .btn:after {
    width: 2px;
    height: 16px;
    top: 0;
    left: 7px;
}

.faq-item[open] .btn:after {
    transform: scaleY(0); /*[-] に見せる */
}

.faq-question::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;  /*[▶︎]が入ってたのを消すため*/
}
summary::-webkit-details-marker {
    display: none;  /*[▶︎]が入ってたのを消すため*/
}

/*------アコーディオン開いた中身------*/

.faq-answer {
    padding: 30px;
    background-color: #ffffff;
    color: #333;
    font-size: 24px;
    line-height: 1.6;
}


 /* ---------------------------------------------
 footer 
 ----------------------------------------------------*/
 footer {
    background-color: #05A277;
    height: 24px;
    text-align: center;
 }

 footer p {
    font-size: 14px;
 }




 /*-------------------------------------------
 レスポンシブ
 -------------------------------------------*/
 @media(max-width: 700px) {
   
 }